.button{
    -fx-background-color : #99CC99;
    -fx-font-weight: bold;
    -fx-text-fill:  #FFFFCC;
}

#btn_close, #btn_close1, #btn_close2, #btn_close3{
    -fx-background-color : #99CC99;
    -fx-text-fill: #FFFFCC;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #336699
;
}

#btn_close:hover{
    -fx-background-color : #336699;
    -fx-text-fill: white;
}

#btn_close1:hover{
    -fx-background-color : #336699;
    -fx-text-fill: white;
}

#btn_close2:hover{
    -fx-background-color : #336699;
    -fx-text-fill: white;
}

#btn_close3:hover{
    -fx-background-color : #336699;
    -fx-text-fill: white;
}

#aliments_perimes, #aliments_presque_perimes, #aliments_ok{
    -fx-font-weight: bold;
}

.labelred {
    -fx-text-fill: red;
}