.root{
    -fx-background-image: url(background.jpg);
    -fx-background-size: 100%,100%;
}
.button{
    -fx-background-color : #339966;
    -fx-font-weight: bold;
    -fx-text-fill:  #FFFFCC;
}

.button:hover {
    -fx-cursor: hand;
    -fx-background-color: #336699;
}
#image_1 {
    -fx-image: url(legume.jpg);
}

#btn_close:hover{
    -fx-background-color : #336699;
    -fx-text-fill: white;
}

#btn_close1:hover{
    -fx-background-color : #336699;
    -fx-text-fill: white;
}

#btn_close2:hover{
    -fx-background-color : #336699;
    -fx-text-fill: white;
}

#btn_close3:hover{
    -fx-background-color : #336699;
    -fx-text-fill: white;
}

#aliments_perimes, #aliments_presque_perimes, #aliments_ok{
    -fx-font-weight: bold;
}

.labelred {
    -fx-text-fill: red;
}

